    .test {
        background-color: #FFF;
        padding-top: 10px;
        // color: #fff
    }


    .header {
        background-color: #296fa8;
        // width: 100vw;
        height: 60px;
        display: flex;
        // flex-direction: column;
        align-items: center;
    }

    .option {
        color: #FFF;
        flex-direction: row;
        width: 100%;
        padding: 1vh 1vw;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: #fff;
            color: #296fa8;
        }
    }

    .display {
        display: flex;
    }

    .flex1 {
        flex: 1 0 auto;
        align-items: center;
        justify-content: center;
    }

    .flex3 {
        flex: 3 0 auto;
        align-items: center;
        justify-content: center;
    }

    .btn {
        align-items: center;
    }

    .column {
        flex-direction: column;
    }


    .probescontent {
        // background-color: #3e8528;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    .probelistcontent {
        // background-color: #3e8528;
        width: 100vw;
        max-height: 90vh;
        display: flex;
        margin: 10px 5vw;
        flex-wrap: wrap;
        overflow: scroll;
        overflow-y: auto;

        .card {
            min-width: 17%;
            max-width: 17%;
            border: 1px solid;
            max-height: 25vh;
            min-height: 25vh;
            flex: 1 0 auto;
            margin: 2vh 1vw;
            border-radius: 15px;
            flex-direction: column;
            // padding: 10vh 8vw;

        }
    }

    .cardupper {
        // align-items: center;
        flex: 1 0 auto;
        justify-content: center;
        border-bottom: 1px solid;
    }

    .cardcontent {
        flex: 3 0 auto;
        margin: 0 10px;
        max-height: 16vh;
        overflow: scroll;
        overflow-y: auto;
        // border: 1px solid;
    }

    .cardbuttom {
        // flex-direction: 
        // height: 10vh;;
        flex: 1 0 auto;
        // align-items: center;
        border-top: 1px solid;
        justify-content: center;

        a {
            display: flex;
            flex: 1 0 auto;
            color: #111;
        }
    }

    .btnleft {
        &:hover {
            background-color: #a8a8a8;
            border-radius: 0 0 0 11px;
            color: #FFF;
        }
    }

    .btnright {
        &:hover {
            background-color: #bd4c56;
            border-radius: 0 0 11px 0;
            color: #FFF;
        }
    }

    .probesupper {
        height: 94vh;
        // width: 60;
        // background-color: #6a91b1;
        // margin: 1vh 1vw;
        display: flex;
        // flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .probesteleport {
        // background-color: red;
        width: 30%;
        // flex: 1 auto;
        // flex-direction: column;
        flex-wrap: wrap
    }

    .probescube {
        padding: 5vh 5vw;
        background-color: #296fa8;
        color: #FFF;
        border: 1px solid black;
        font-size: xx-large;
        // flex-wrap: wrap
    }

    .probesstatus {
        border-bottom: 1px solid;
    }

    .dashboardcube {
        flex: 1 0 auto;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        display: flex;
    }

    .cubeup {
        font-family: '微軟正黑體';
        font-size: x-large;
        font-weight: 700;
        justify-content: center;
        align-items: center;
    }

    .cubebuttom {
        justify-content: center;
        align-items: center;
    }

    .dashboardmid {
        padding: 1vh 10vw;

    }

    .event {
        flex: 1 0 auto;
        height: 60vh;
        border: 1px solid;
        flex-direction: column;
        align-items: center;
    }

    .eventtitle {
        font-family: '微軟正黑體';
        font-size: x-large;
        font-weight: bolder;
        width: 100%;
        margin: 10px 0;
        justify-content: center;
        border-bottom: 1px solid;
    }

    .eventcontent {
        // display: flex;
        // margin: 2vh 2vw;
        // background-color: red;
        width: -webkit-fill-available;
        overflow-y: auto;
    }

    .eventlist {
        margin: 0 2%;
    }

    .cell {
        font-family: '微軟正黑體';
        // font-size: x-large;
        font-weight: 700;
        display: flex;
        border: 1px solid;
        margin: 1%;
        padding: 2% 0;
        border-radius: 10px
    }

    .celltype {
        flex: 3 1 auto;
        max-width: 200px;
        // background-color: red;
    }

    .cellcustomer {
        max-width: 100px;
    }



    .probesupperright {
        flex: 1 0 auto;
        align-items: center;
        justify-content: center;
    }

    .probesupperleft {
        flex: 1 0 auto;
        align-items: center;
        justify-content: center;
        font-size: larger;
    }

    .probeid {
        font-size: large;
        font-weight: 700;
        align-items: center;
        // justify-content: center;
        margin-left: 10px;
        flex: 3 0 auto;
    }

    .probestatus {
        // margin: 0 15px;
        justify-content: center;
        flex: 2 0 auto;
        align-items: center;
        // flex-direction: row-reverse;
    }

    .probesuppermid {
        flex: 5 0 auto;
        // margin: 0 10px;
    }

    .btn {
        flex: 1 0 auto;
        align-items: center;
        justify-content: center;
        font-size: larger;
        width: 100%;
        height: 100%;
        border: 2px solid;
        border-color: #296fa8;
    }


    //edit page 

    .editprobe {
        width: 100vw;
        height: 90vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .probeInfo {
        border: 2px solid #999;
        flex-direction: column;
        border-radius: 10px ;
        justify-content: center;
        align-items: center;
        // flex: 6 0 auto;
    }
    .probetitle{
        justify-content: center;
    }

    .probecontent{
        width: 95%;
    }

    .probeInfoCell {
        width: 30vw;
        height: 40px;
        // justify-content: center;
        // flex: 1 0 auto;
        // flex-direction: column;
        margin: 10px;
    }

    .imputcell {
        width:30vw ;
        input{
            margin: 0;
        }
        select {
            margin: 0;
        }
    }
    .textareacell{
        width: 30vw;
        // height: 30vh;
        textarea{
            margin: 0;
        }
    }
    .itemcell{
        width: 10vw;
    }

    .note{
        height: 10vh;
    }

    .confirm{
        // justify-content: center;
        margin-top: 5px;
        height: 40px;
        width: 100%;
        // margin: 0;
    }

    .nomargin{
        margin: 0;
    }